@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14.5px;
}

#tri {
  border-color: white;
  border-left: 5px solid transparent;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  float: right;
  transition: all 0.5s 0.25s;
}

.tri-rotate {
  transform: rotate(180deg);
}

.title {
  @apply font-bold text-2xl pb-1;
}

.btn-nav button {
  @apply bg-white py-2 px-3 font-extrabold text-purple hover:bg-opacity-80 transition duration-200 rounded-lg;
}

.btn-nav button:disabled, button[disabled] {
  @apply bg-purple-lighter hover:bg-opacity-100;
}

.font-stretch {
  display:inline-block;
  -webkit-transform:scale(2,1); /* Safari and Chrome */
  -moz-transform:scale(2,1); /* Firefox */
  -ms-transform:scale(2,1); /* IE 9 */
  -o-transform:scale(2,1); /* Opera */
  transform:scale(2,1); /* W3C */
}

#login input {
  background-color: #FAFBFC;
  border: 1px solid #DBDCDC;
  @apply rounded-lg px-3 py-2 text-sm max-w-full md:w-9/12;
}
#login .error {
  border: 1px solid #FF0000;
}

.btn-pwd {
  @apply rounded-full py-1.5 px-1 hover:bg-gray transition duration-200;
}

.btn-lavender {
  @apply bg-lavender text-white hover:bg-lavender-dark transition duration-200;
}

.btn-lavender:disabled, .btn-lavender[disabled]  {
  background-color: #D0A3FF;
}

.badge {
  @apply text-purple font-medium px-1 rounded bg-purple-lighter float-right ml-2 md:mt-0.5;
}

.text-2xs {
  font-size: 0.65rem;
}

.text-3xs {
  font-size: 0.5rem;
}

.btn-small {
  @apply bg-purple-lighter border-1 text-purple border border-lavender hover:bg-purple-light transition duration-200;
}

.btn-small:disabled, .btn-small[disabled] {
  @apply bg-drop-lighter rounded-md border-white;
}

.box-purple {
  @apply bg-purple-lighter text-purple text-sm rounded-2xl md:rounded-xl font-medium;
}

.border-1 {
  border-width: 1.5px;
}

.flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.dropdown {
  @apply absolute bg-drop-lighter border-1 border-drop rounded-xl text-2xs font-semibold text-drop-dark;
}
.dropdown ul {
  @apply cursor-pointer;
}
.dropdown li {
  @apply flex items-start py-1 px-1 md:px-2 hover:bg-drop-light transition duration-200;
}
.dropdown li:first-child {
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.dropdown li:last-child {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.dropdown li > div {
  @apply w-4 mt-1 mr-0.5;
}
.dropdown li img {
  @apply h-2.5;
}

.search-x {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

input:focus{
  outline: none;
}

.search-drop {
  margin-top: -2.1rem;
}

.order-table th:first-child{
  border-radius:100px 0 0 100px;
}

.order-table th:last-child{
  border-radius:0 100px 100px 0;
}

#order-table tbody tr td {
  @apply px-1.5 md:px-2 py-2 md:py-3;
}

#order-table thead tr th {
  @apply px-1 md:px-2 py-3;
}

#order-table tbody tr {
  border-top: 0.5px solid #EEEEEE;
  border-bottom: 0.5px solid #EEEEEE;
}

#order-table tbody tr:first-child {
  border-bottom: 0.5px solid #EEEEEE;
  border-top: none;
}

#order-table tbody tr:last-child {
  border-top: 0.5px solid #EEEEEE;
  border-bottom: none;
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  background-color: #F7F9EF;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.2s;
  box-shadow: inset 0 1.5px 4px 0px #cacaca;
  @apply h-4 md:h-6 w-4 md:w-6;
}

.container-check {
  display: block;
  position: relative;
  margin-bottom: 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-check input:checked ~ .checkmark {
  background-color: #EDDCFF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-check input:checked ~ .checkmark:after {
  display: block;
}

.container-check .checkmark:after {
  left: 0.6rem;
  top: 0.36rem;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-duration: 0.2s;
  @apply border-purple;
}

.btn-status {
  @apply border-1 rounded-xl font-semibold md:font-bold text-2xs md:text-sm text-center py-0.5 md:py-1 px-1.5 md:px-3;
}

.table-wrapper {
  overflow-x: auto;
}

.ticket-table {
  @apply w-full;
}
.ticket-table thead {
  border-bottom: 1px solid #BCBCBC;
}
.ticket-table td {
  @apply px-1 py-1;
}

.detail-title {
  @apply bg-purple-lighter flex justify-between items-center w-full rounded-xl py-2 font-bold px-4;
}

.buyer:first-child {
  display: none;
}

.loader {
  --border-width: 10px;
  
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  
  /* 0.5px's are needed to avoid hard-stopping */
  --mask: radial-gradient(
    farthest-side, 
    transparent calc(100% - var(--border-width) - 0.5px), 
    #000 calc(100% - var(--border-width) + 0.5px)
  );
  -webkit-mask: var(--mask);
          mask: var(--mask);
          
  /* we're using two half linear-gradient which is masked by the radial-gradient */
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.5)) 100% 0/50% 100% no-repeat,
              linear-gradient(rgba(255, 255, 255, 0.5) 50%, transparent 95%) 0 0/50% 100% no-repeat;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load-img {
  margin-top: -13rem;
  transform:scale(1.5);
  -ms-transform:scale(1.5); /* IE 9 */
  -moz-transform:scale(1.5); /* Firefox */
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -o-transform:scale(1.5);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.question {
  height:0.9rem;
  margin-bottom:0.1rem;
}

.buyers {
  overflow-x: auto;
}

@media (min-width: 768px) {
  .search-drop {
    margin-top: -2.36rem;
  }

  #order-table tbody {
    max-height: calc(100vh - 18.5rem);
    overflow-y: auto; 
    overflow-x: auto; 
  }

  .header-fixed > thead,
  .header-fixed > tbody,
  .header-fixed > thead > tr,
  .header-fixed > tbody > tr,
  .header-fixed > thead > tr > th,
  .header-fixed > tbody > tr > td {
    display: block;
  }

  .header-fixed > thead > tr > th {
    white-space: nowrap;
  }

  .header-fixed > tbody > tr:after,
  .header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  .header-fixed > tbody {
    overflow-y: auto;
  }

  .header-fixed > tbody > tr > td,
  .header-fixed > thead > tr > th {
    width: 8rem;
    float: left;
    display: flex;
    align-items: center;
  }

  .header-fixed > tbody > tr > td:not:nth-child(5),
  .header-fixed > thead > tr > td:not:nth-child(6) {
    justify-content:center;
  }

  .header-fixed td:first-child,
  .header-fixed th:first-child {
    width: 2.5rem;
    margin-left: 0.9rem;
    margin-right: 0.3rem;
  }
  .header-fixed td:nth-child(5),
  .header-fixed th:nth-child(5) {
    width: 12rem;
  }
  .header-fixed td:nth-child(6),
  .header-fixed th:nth-child(6){
    width: 9.05rem;
  }
  
  .header-fixed td:nth-child(8),
  .header-fixed th:nth-child(8) {
    width: 9.2rem;
  }
  
  .header-fixed td:nth-child(3),
  .header-fixed th:nth-child(3),
  .header-fixed td:nth-child(4),
  .header-fixed th:nth-child(4),
  .header-fixed td:nth-child(9),
  .header-fixed th:nth-child(9) {
    width: 7.15rem;
  }

  .header-fixed td {
    min-height: 5rem;
    vertical-align: middle;
  }

  .fetching {
    width: 100% !important;
  }

  .table-wrapper *,
  .table-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 #F5F5F5;
  }

  .table-wrapper *::-webkit-scrollbar,
  .table-wrapper::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }

  .table-wrapper *::-webkit-scrollbar-track,
  .table-wrapper::-webkit-scrollbar-track {
    background: #F5F5F5;
  }

  .table-wrapper *::-webkit-scrollbar-thumb,
  .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
  }

  #order-table {
    min-width: 1168px;
  }

  @media (max-width: 943px) {
    .detail-title {
      @apply px-2;
    }
    .detail-title span,
    .detail-title h1 {
      @apply text-sm;
    }
    .detail-title input {
      @apply w-3/4 text-xs;
    }
    .detail-title > div div {
      @apply pl-3 !important;
    }
    .detail-wrapper {
      @apply px-5 !important;
    }
  
    .total-box {
      @apply w-8/12 !important;
    }
    
  }  

  @media (min-width:943px) and (max-width: 996px) {
    .detail-title span,
    .detail-title h1 {
      @apply text-sm;
    }
  
    .total-box {
      @apply w-7/12 !important;
    }
    
  }  
  @media (min-width: 996px) and (max-width: 1070px) {
    .detail-title span,
    .detail-title h1 {
      @apply text-base;
    }
    .total-box {
      @apply w-8/12 !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 952px) {
  .first-bar-child:first-child {
    @apply pt-4;
  }

  #navbar {
    @apply px-0;
  }
  .hello h1, .btn-nav {
    @apply text-sm;
  }
  #order-table tbody {
    max-height: calc(40vh) !important;
  }
}

@media (min-width: 953px) {
  .first-bar {
    @apply justify-between flex;
  }
}

@media (min-width: 768px) and (max-width: 1170px) {
  .second-bar-child:first-child {
    @apply pb-2.5;
  }
  
  #order-table tbody {
    max-height: calc(100vh - 22rem);
  }
}

@media (min-width: 1171px) {
  .second-bar {
    @apply justify-between flex;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .container-check {
    margin-top:0.2rem;
  }
  .container-check .checkmark:after {
    left: 0.35rem;
    top: 0.1rem;
  }
  .table-wrapper {
    @apply pb-4;
  }
  
  .search-x > button {
    padding: 0;
  }

  @media (min-width: 412px) {
    .search-bar img:first-child {
      max-height: 15px;
    }
    .search-bar img:nth-child(2) {
      max-height: 14.4px;
      min-height: 14.4px;
    }
  }
}
